.profile-lookup-chart {
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    width: 100%;
}

.game-breakdown {
    float: left;
    width: 25%;
    
}

.chart {
    float: left;
    width: 45%;
    padding-left: 15%;
}

p {
    color: white;
}